<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlmaSoft"
        tools:targetApi="31">

        <!-- Actividades existentes -->
        <activity
            android:name=".view.ProductMovementsActivity"
            android:exported="false" />
        <activity
            android:name=".view.SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProductInboundActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProductOutboundActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProductHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProductRecordActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProductCreateActivity"
            android:exported="false" />
        <activity
            android:name=".vista.ConsultarActivity"
            android:exported="false" />

        <!-- Actividad Proveedor-->

        <activity
            android:name=".vista.QueryActivity2"
            android:exported="false" />
        <activity
            android:name=".vista.QueryActivity"
            android:exported="false" />
        <activity
            android:name=".vista.RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".vista.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
