<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlmaSoft"
        tools:targetApi="31">

        <!-- Actividades existentes -->
        <activity
            android:name=".view.RecordProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".editarProducto"
            android:exported="false" />
        <activity
            android:name=".editprodut"
            android:exported="false" />
        <activity
            android:name=".view.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegistrarUsuarioActivity"
            android:exported="false" />

        <!-- Actividad Proveedor-->

        <activity
            android:name=".view.ListadoProveedoresActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegistrarProveedorActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditarProveedorActivity"
            android:exported="false"/>



        <!-- Actividad de inicio -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
